body{
    height: 100vh;
    background: black url(Exercicios/Ex022/img/wallpaper002.jpg) center center no-repeat fixed;
    background-size: cover;
}
 main{
    background-color: white;
    width: 400px;
    padding: 10px;
    margin: auto;
    border: 1px solid darkblue;
    border-radius: 15px;

}