

.bloco{
    background-image: url('Exercicios/Ex022/img/wallpaper003.jpg');
    height: 200px;
    border: 1px solid black;
    margin: 5px;
    border-radius: 20px;
}

#q1{
    background-position: left top;
}

#q2{
    background-position: left center;
}

#q3{
    background-position: right bottom;
}

#q4{
    background-position: center center;
}