body{
    height: 100vh;
}

#container{
    background-image: url(Exercicios/Ex022/img/target001.png);
    background-size: 100% 100%;
    height: 96vh;
    background-color: purple;
    padding: 10px;
    position: relative;
}

#conteudo{
    background-image: url(Exercicios/Ex022/img/target001.png);
    background-size: 100% 100%;
    height: 200px;
    background-color: yellow ;
    position: absolute;
    width: 400px;
    left: 50%;
    top: 50% ;
    transform: translate(-50%, -50%);
}