h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
   
}

.css3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: center;
    
}
 .html{
    text-align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

 }


 