@font-face {
    font-family: 'natal' ;
    src: url(fontes/WonderfulChristmas_PERSONAL_USE_ONLY.otf) format(opentype);
    font-weight: normal;
    font-style: normal;
}


body{
    
    background-image: linear-gradient(to bottom, #ED3237, #D0D0D0, #E8E8E8);
    background-attachment: fixed;
}

h1,h2{
    font-family: 'natal';
    font-size: 3em;
    color: #721516;
}

main{
    text-align: center;
    background-color:#D0D0D0;
    width: 600px;
    margin: auto;
    margin-top: 10%;
    border-radius: 25px;
    box-shadow: 10px 10px 10px #7A2828;
    
}

.arvore{
    text-align: center;
    margin-top: -20%;
    margin-right: 49%;
    flex-wrap: wrap;

}

main>:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: 1s;
}