

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fontpadrao:"Sriracha", cursive;
    --fonttitulo:"Passion One", sans-serif;
    
}

*{
    margin: 0;
    padding: 0;
}



body{
    height: 100vh;   
}

.cabecalho{
    text-align: center;
    width: 100%;
    position: relative;
    background-color: black;
    height: 200px;    
}

#titulo{
    position:relative ;
    top: 50% ;
    left: 50% ;
    transform: translate(-50%, -50%);
    width: 50%; 
    height: auto;
}

#titulo h1{
    color: white;
    font-family: var(--fonttitulo);
    font-size: 4em;
    padding: 20px; 
}

#titulo p{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#titulo a {
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;

}

#titulo a:hover{
    text-decoration: underline;
}

.conteudo{
    display: flex;
    height: auto;
    background-color: white;
}

.conteudo-principal{
    font-family:var(--fontpadrao) ;
    font-size: 2em; 
    padding: 5% 0 5% 5%;
    display: grid;
    justify-items: flex-start;

}

.imagem-paralax1{
    height:800px;
    background-image: url(imagens/background001.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.imagem-paralax2{
    height: 800px;
    background-image: url(imagens/background002.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.texto-paralax{
    position: relative;
    top: 10%;
    left: 5%;
    width: 390px;
    height: 530px;
    font-family: var(--fontpadrao);
    font-size: 2em;
    color: white;
    background-color: rgba(0, 0, 0, 0.445);
    line-height: 75px;
    display: flex;
    justify-items: flex-start;
}

footer{
    height: 40px;
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 1.5% 0 0 0;
    margin-top: 15%;
}
 footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
 }

 footer a:hover{
    text-decoration: underline;
 }
