
body{
    background-image: linear-gradient(to bottom, #261420, #592F4B,#91A9D9);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
 
h1,h2{
    font-style: italic;
}

main{
    
    background-color: white; 
    width: 650px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 10px 5px ,#788eb9a2;
    margin-top: 15%;
}

h1{
    text-align: center;
    color: #261420;
}

h2{
    text-align: center;
    color: #261420;
}