body{
    background-image: url(wallpaper001.jpg);
}



.quadrado{
    border: 1px solid black;
    background-color:lightgray;
    width: 300px;
    height: 300px;
    display: inline-block;
    border-radius: 10px;
}

#q1{
    background-color: aqua;
}

#q2{
    background-image:linear-gradient(to bottom, yellow, rgb(255, 94, 0));
}

#q3{
    background-image: url(pattern003.png);
    background-repeat: no-repeat;
}