@charset "UTF-8"

*{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to bottom, #76A6B4,#FBE2D0,#FFF5F3);
    background-attachment: fixed;
}

p{
    text-align: justify;
}

main{
    background-color: white;
    box-shadow: 5px 5px 15px black;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 35px;
    
}

h1{
    color: #507993;
    text-align: center;
    text-shadow: 1px 1px 0px #43677ed0;
}

h2{
    color: #D4B99E;
}