@charset "UTF-8";


body{
    background-color: grey;
    text-align: center;
}

h1{
    color: black;
    background-color: white;
}

h2{
    color: rgb(176, 238, 176);
    text-decoration: underline;
}

p{
    color: white;
}