

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom,  #333333,#C2B078, #D3C188  );
}

header{
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 5px 20px;
}

header > h1 {
    text-align: center;
}

main{
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 5px 20px;
}

nav{
    background-color: rgb(114, 114, 114); 
    display: flex;
    justify-content: space-between;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.459);
    
    
}

nav > a {
    text-decoration: none;
    font-style: italic;
    color: white;
    font-weight: bold;
    padding: 5px;
    margin-right: 30px;
    
    transition: 0.5s;
    
    
}

nav > a:hover{
    text-decoration: underline;
    transform: scale(1.2);

}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
    margin-top: 50%;;    
}

article{
    background-color: lightgrey;
    padding: 5px;
    border-radius: 14px;
}

article > aside{
    background-color: rgba(146, 146, 146, 0.822);
}
