body{
    font-family: Arial, Helvetica, sans-serif;

}
table{
    border-collapse: collapse;
    width: 400px;
    padding: 8px;
    text-align: center;
}

tr{
    background-color: rgba(128, 128, 128, 0.466);
}

td{
    border: 1px solid black;
}

.linha{
    background-color: white;
}